/* COMMON CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    transition: all 0.2s ease;
    line-height: 1.5;
}

body{
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    background-color: #F7F7F7;
}

/* NAVBAR */
.navbar a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
}

.navbar input:focus{
    outline: none;
}
.navbar{
    padding: 5px 30px 5px 20px;
    width: 100vw;
    height: 65px;
    background-color: #333333;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    z-index: 2;
}

#navToggler{
    display: none;
}

.logo{
    display: flex;
    flex-flow: row wrap;
}

.companyName{
    margin-top: 15px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    cursor: pointer;
    color: #FFFFFF;
}

.companyLogo{
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

#searchBarInp{
    height: 40px;
    width: 400px;
    border-radius: 15px 0 0 15px;
    border: 0;
    padding: 20px;
    font-size: 17px;
}

.searchIcon{
    text-align: center;
    color: #333333;
    border-radius: 0 15px 15px 0;
    background-color: #FFFFFF;
    height: 40px;
    width: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.searchBar{
    display: flex;
    flex-flow: row wrap;
}

.searchBar2{
    display: none;
    flex-flow: row wrap;
    height: 70px;
    width: 100vw;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.searchBar2 #searchBarInp{
    height: 40px;
    width: 350px;
}

.searchBar2 .searchIcon{
    height: 40px;
    width: 50px;
}

.menuBtn, .cartBtn{
    border: 0;
    cursor: pointer;
    background-color: #333333;
    color: #FFFFFF;
}

.menuToggled{
    margin: 0 0 20px auto;
    background-color: #333333;
    position: absolute;
    right:  0;
    top: 65px;
    opacity: 0;
    height: 240px;
    width: 400px;
    display: flex;
    z-index: -1;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    border-radius: 0 0 0 10px;
    box-shadow: 0 10px 10px -10px #333333, inset 5px 0 10px -10px #333333;
}

.menuToggled a, .topicsBar a{
    text-decoration: none;
    font-size: 15px;
    color: #FFFFFF;
}

.menuToggled a, .navbar a, .cartBtn, .topicsBar a {
    padding: 10px;
}

.menuToggled a:hover, .navbar a:hover, .cartBtn:hover, .topicsBar a:hover{
    color: #E1F4F3;
    padding: 0 20px;
}

.menuDivider{
    width: 300px;
    border-top: 1px solid #333333;
    border-radius: 10px;
}

@media only screen and (max-width: 1050px){
    .navbar a{
        font-size: 14px;
    }

    #searchBarInp{
        width: 280px;
    }

    .searchIcon{
        height: 40px;
    }

    .companyName {
        font-size: 16px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar{
        box-shadow: 0 10px 10px -10px #333333;
    }
}

@media only screen and (max-width: 700px) {
    #searchBarInp {
        height: 24px;
        width: 180px;
    }
    .navbar {
        box-shadow: 0 10px 10px -10px #333333;
    }
}

@media only screen and (max-width: 600px) {
    .searchBar2{
        padding: 0 15px 15px;
        top: 65px;
    }

    .companyName {
        font-size: 18px;
    }

    .searchBar2 {
        box-shadow: 0 10px 10px -10px #333333;
    }

    .menuToggled{
        top:  135px;
    }
}

@media only screen and (max-width: 450px) {
    .searchBar2 #searchBarInp {
        width: 260px;
    }

    .companyName {
        font-size: 16px;
    }

    .menuToggled{
        width: 100vw;
    }

    .searchBar2 {
        box-shadow: 0 10px 10px -10px #333333;
    }
}

@media only screen and (max-width: 400px) {
    .searchBar2 #searchBarInp {
        width: 200px;
    }

    .companyName {
        font-size: 14px;
    }
}

/* Topics Bar */
.topicsBar{
    width: 100vw;
    padding: 0 20px;
    height: 50px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px -10px #333333;
    position: absolute;
    z-index: 2;
    top: 65px;
}

@media only screen and (max-width: 1300px) {
    .topicsBar a{
        font-size: 13px;
    }
}


/* Offer Carousel */
.offersCarousel{
    height: 600px;
    width: 100vw;
    position: absolute;
    top: 115px;
    z-index: 1;
    background-image: url("images/ama1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftArrow{
    margin-left: 30px;
    padding: 100px 20px;
    cursor: pointer;
}

.rightArrow{
    margin-right: 40px;
    padding: 100px 20px;
    cursor: pointer;
}

.rightArrow:hover, .leftArrow:hover{
    border: 2px solid #333333;
}

@media only screen and (max-width: 1000px) {
    .containers.row1{
        top: 500px;
    }

    .leftArrow{
        margin-left: 15px;
    }

    .rightArrow{
        margin-right: 20px;
    }

    .offersCarousel{
        top: 60px;
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .leftArrow {
        margin-left: 10px;
    }

    .rightArrow {
        margin-right: 15px;
    }

    .offersCarousel {
        height: 300px;
        top: 135px;
    }
}

@media only screen and (max-width: 500px) {
    .leftArrow {
        margin-left: 7px;
    }

    .rightArrow {
        margin-right: 12px;
    }

    .offersCarousel {
        height: 200px;
    }
}


/* Containers & Items */
.containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 530px;
    z-index: 1;
    width: 100vw;
    padding: 0 20px;
}

.container1, .container2, .container3, .container4{   
    display: flex;
    flex-direction: column;
    background-color: #333333;
    height: 510px;
    width: 390px;
    border: 1px solid #333333;
    border-radius: 1%;
    margin: 0 20px 30px;
}

.cont-heading{
    color: #FFFFFF;
    padding: 15px 20px 0 22px;
}

.cont-link a{
    text-decoration: none;
    font-size: 13px;
    color: #FFFFFF;
    padding: 22px;
}

.cont-link a:hover{
    color: #E1F4F3;
    font-size: 14px;
}

.container1 .item-image1, .container1 .item-image2,.container1 .item-image3,.container1 .item-image4,
.container3 .item-image1,
.container3 .item-image2,
.container3 .item-image3,
.container3 .item-image4{
    height: 150px;
    width: 150px;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.container2 .item-image1{
    height: 395px;
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.container1 .item-image1{
    background-image: url(images/washingMachine.jpg);    
}

.container1 .item-image2 {
    background-image: url(images/fans.jpg);
}

.container1 .item-image3 {
    background-image: url(images/homeSecurity.jpg);
}

.container1 .item-image4 {
    background-image: url(images/refrigerator.jpg);
}

.container2 .item-image1 {
    background-image: url(images/discounts.jpg);
}

.container3 .item-image1 {
    background-image: url(images/fresh.png);
}

.container3 .item-image2 {
    background-image: url(images/electronics.jpg);
}

.container3 .item-image3 {
    background-image: url(images/mobile.jpg);
}

.container3 .item-image4 {
    background-image: url(images/fashion.jpg);
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.item-text{
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    color: #FFFFFF;
}

@media only screen and (max-width: 500px) {
    .containers {
            padding: 0;
            top: 335px;
    }

    .container1, .container2, .container3, .container4 {
        width: 100vw;
        margin: 0 0 20px;
        text-align: center;
        height: 630px;
    }

    .container1 .item-image1,
    .container1 .item-image2,
    .container1 .item-image3,
    .container1 .item-image4,
    .container3 .item-image1,
    .container3 .item-image2,
    .container3 .item-image3,
    .container3 .item-image4 {
        width: 200px;
        height: 200px;
    }

    .container2 .item-image1 {
        height: 500px;
        width: 420px;
    }

    .cont-heading{
        font-size: 20px;
    }

    .item-text, .cont-link a{
        font-size: 17px;
    }

}

@media only screen and (max-width: 480px) {
    .container1, .container3 {
            height: 1210px;
    }

    .cont1-item4{
        margin-bottom: 20px;
    }

    .container1 .item-image1,
    .container1 .item-image2,
    .container1 .item-image3,
    .container1 .item-image4,
    .container3 .item-image1,
    .container3 .item-image2,
    .container3 .item-image3,
    .container3 .item-image4 {
        width: 250px;
    }

    .container2 .item-image1{
        width: 300px;
        height: 300px;
    }

    .container2{
        height: 420px;
    }

    .item-text{
        font-size: 20px;
    }

    .cont-heading{
        font-size: 23px;
    }

    .item-text{
        margin-left: 0;
    }

}

@media only screen and (max-width: 400px) {
    .cont-heading{
        font-size: 18px;
    }
}

@media only screen and (max-width: 350px) {
    .container2 .item-image1 {
        width: 260px;
        height: 260px;
    }

    .container2 {
        height: 365px;
    }

    .cont-link a{
        font-size: 14px;
    }

    .item-text {
        font-size: 16px;
    }

    .cont1-item4{
        margin-bottom: 0;
    }

    .container1{
        height: 1140px;
    }

    .container3{
        height: 1150px;
    }
}

@media only screen and (max-width: 300px) {
    .container2 .item-image1 {
        width: 220px;
        height: 220px;
    }
    .container1 .item-image1,
    .container1 .item-image2,
    .container1 .item-image3,
    .container1 .item-image4,
    .container3 .item-image1,
    .container3 .item-image2,
    .container3 .item-image3,
    .container3 .item-image4 {
        width: 220px;
    }

    .container1{
        height: 1126px;
    }

    .container3{
        height: 1150px;
    }

    .container2{
        height: 350px;
    }

    .cont1-item4 {
        margin-bottom: 0;
    }
}

/* ROW2 */
.row2{
    top: 1100px;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    z-index: 3;
    width: 95vw;
    height: 470px;
    margin-bottom: 30px;
    background-color: #333333;
}

.row-heading a{
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 23px;
    padding: 0 20px;
    margin-bottom: 10px;
}

.row-heading {
    padding: 15px 0;
    display: block;
}

.row-items{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background-color: #F7F7F7;
}

.item{
    height: 350px;
    width: 300px;
    position: relative;
    margin: 20px 20px 10px;
    display: inline-block;
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.leftScroll, .rightScroll{
    padding: 80px 20px;
    font-size: 20px;
    position: absolute;
    z-index: 4;
    top: 30%;
}

.leftScroll:hover, .rightScroll:hover {
    border: 2px solid #333333;
    cursor: pointer;
}

.leftScroll{
    left: 0;
}

.rightScroll{
    right: 0;
}

.offer{
    color: #FFFFFF;
    font-size: 16px;
    background-color: #333333;
    padding: 10px;
    display: table;
}

.item.item1 {
    background-image: url(images/td1.jpg);
    background-color: #FFFFFF;
}

.item.item2 {
    background-image: url(images/td2.jpg);
    background-color: #FFFFFF;
}

.item.item3 {
    background-image: url(images/td3.jpg);
    background-color: #FFFFFF;
}

.item.item4 {
    background-image: url(images/td4.jpg);
    background-color: #FFFFFF;
}

.item.item5 {
    background-image: url(images/td5.jpg);
    background-color: #FFFFFF;
}

.item.item6 {
    background-image: url(images/td6.jpg);
    background-color: #FFFFFF;
}

.item.item7 {
    background-image: url(images/td7.jpg);
    background-color: #FFFFFF;
}

.item.item8 {
    background-color: #FFFFFF;
    background-image: url(images/td8.jpg);
}

.item.item9 {
    background-image: url(images/td9.jpg);
    background-color: #FFFFFF;
}

.item.item10 {
    background-image: url(images/td10.jpg);
    background-color: #FFFFFF;
}

.item.item11 {
    background-image: url(images/td11.jpg);
    background-color: #FFFFFF;
}

.description{
    text-align: center;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #333333;
    bottom: 0;
    display: table;
    padding: 10px;
    font-family: 'Merriweather', serif;
}

@media only screen and (max-width: 1350px) {
    .row2{
        top: 1620px;
    }
}

@media only screen and (max-width: 1000px) {
    .row2 {
        top: 1600px;
    }

    .containers.row3{
        top: 2100px;
    }
}

/* Container ROW3 */
.containers.row3{
    top: 1620px;
}

.containers.row3 .container1 .item-image1 {
    background-image: url(images/row3_1.jpg);
}

.containers.row3 .container1 .item-image2 {
    background-image: url(images/row3_2.jpg);
}

.containers.row3 .container1 .item-image3 {
    background-image: url(images/row3_3.jpg);
}

.containers.row3 .container1 .item-image4 {
    background-image: url(images/row3_4.jpg);
}

.containers.row3 .container3 .item-image1 {
    background-image: url(images/row3_9.jpg);
}

.containers.row3 .container3 .item-image2 {
    background-image: url(images/row3_10.jpg);
}

.containers.row3 .container3 .item-image3 {
    background-image: url(images/row3_11.jpg);
}

.containers.row3 .container3 .item-image4 {
    background-image: url(images/row3_12.jpg);
}

.containers.row3 .container2 .item-image1 {
    background-image: url(images/row3_big.jpg);
}

.containers.row3 .container1, .containers.row3 .container2, .containers.row3 .container3{
    height: 550px;
}

@media only screen and (max-width: 1350px) {
    .containers.row3 {
        top: 2110px;
    }
}

@media only screen and (max-width: 1000px) {
    .containers.row3 {
        top: 2100px;
    }
}

@media only screen and (max-width: 900px) {
    .containers.row1 {
        top: 500px;
    }

    .row2{
        top: 2130px;
    }

    .containers.row3{
        top: 2620px;
    }
}

@media only screen and (max-width: 500px) {
    .containers.row1{
        top: 400px;
    }
    .row2 {
        top: 2380px;
    }

    .containers.row3 {
        top: 2880px;
    }

    .containers.row3 .container1{
        height: 680px;
    }

    .containers.row3 .container3{
        height: 660px;
    }

    .containers.row3 .container2{
        height: 630px;
    }
}

@media only screen and (max-width: 500px) {
    .containers.row1 {
        top: 360px;
    }
}

@media only screen and (max-width: 480px) {
    .row2{
        top: 3300px;
    }

    .containers.row3{
        top: 3810px;
    }

    .containers.row3 .container1{
        height: 1330px;
    }

    .containers.row3 .container2{
        height: 460px;
    }

    .containers.row3 .container3 {
        height: 1250px;
    }
}

@media only screen and (max-width: 440px) {
    .containers.row3 .container1 {
        height: 1360px;
    }
}

@media only screen and (max-width: 400px) {
    .containers.row3 .container1 {
        height: 1330px;
    }
}

@media only screen and (max-width: 350px) {
    .containers.row1 .container1 {
        height: 1150px;
    }

    .containers.row1 .container2{
        height: 375px;
    }

    .row2{
        top: 3120px;
    }

    .containers.row3{
        top: 3630px;
    }

    .containers.row3 .container1{
        height: 1290px;
    }

    .containers.row3 .container2 {
        height: 410px;
    }

    .containers.row3 .container3 {
        height: 1180px;
    }


}

@media only screen and (max-width: 300px) {
    .containers.row3 .container2{
        height: 370px;
    }
}

.footerLinks{
    margin-top: 1800px;
    height: 250px;
    width: 100vw;
    background-color: #333333;
    color: #FFFFFF;
    position: relative;
}

.footerElement{
    margin-top: 30px;
    position: absolute;
    top: 0;
    padding: 20px;
    display: inline-block;
}

.footerHeading{
    padding: 5px;
    font-size: 17px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.footerElementLeft{
    left: 20%;
    transform: translate(-20%, 0);
}

.footerElementMiddle {
    left: 50%;
    transform: translate(-50%, 0);
}

.footerElementRight {
    right: 20%;
    transform: translate(20%, 0);
}

.footerLink{
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    color: #FFFFFF;
}

.footerLink:hover {
    color: #E1F4F3;
    font-size: 14.5px;
}

.footer{
    position: relative;
    width: 100vw;
    height: 50px;
    padding: 20px;
    background-color: #333333;
}

.trademarks{
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 13px;
    position: absolute;
    left: 50%;
    color: #FFFFFF;
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 1350px) {
    .footerLinks, .footer{
        top: 480px;
    }
}

@media only screen and (max-width: 1330px) {
    .footerLinks, .footer {
        top: 1050px;
    }
}

@media only screen and (max-width: 900px) {
    .footerLinks, .footer {
        top: 2150px;
    }
}

@media only screen and (max-width: 1200px) {
    .footerElementLeft{
        left: 15%;
        transform: translate(-15%, 0);
    }

    .footerElementRight{
        right: 15%;
        transform: translate(15%, 0);
    }
}

@media only screen and (max-width: 1100px) {
    .footerElementLeft {
        left: 10%;
        transform: translate(-10%, 0);
    }

    .footerElementRight {
        right: 10%;
        transform: translate(10%, 0);
    }
}

@media only screen and (max-width: 1000px) {
    .footerElementLeft {
        left: 5%;
        transform: translate(-5%, 0);
    }

    .footerElementRight {
        right: 5%;
        transform: translate(5%, 0);
    }
}

@media only screen and (max-width: 900px) {
    .footerElementLeft {
        left: 5%;
        transform: translate(-5%, 0);
    }

    .footerElementRight {
        right: 5%;
        transform: translate(5%, 0);
    }

    .trademarks{
        font-size: 12px;
    }
}

@media only screen and (max-width: 700px) {
    .footerElementMiddle{
        margin-top: 220px;
    }

    .footerLinks{
        height: 430px;
    }

    .footer{
        padding: 5px;
        height: 30px;
    }
}

@media only screen and (max-width: 650px) {
    .footer{
        text-align: center;
        height: 40px;
    }
}

@media only screen and (max-width: 550px) {
    .footerElementRight{
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: 240px;
        height: 193px;
        width: 220px;
    }

    .footerElementLeft {
        left: 50%;
        transform: translate(-50%, 0);
        height: 240px;
        width: 220px;
    }

    .footerElementMiddle {
        margin-top: 425px;
        height: 190px;
        width: 220px;
    }

    .footerLinks {
        height: 940px;
    }

    .footerLinks{
        height: 630px;
    }

    .trademarks{
        margin-top: 10px;
        font-size: 11px;
    }

    .footer{
        height: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .footerLinks, .footer{
        top: 2720px;
    }
}

@media only screen and (max-width: 480px) {
    .footerLinks, .footer {
        top: 4720px;
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        height: 70px;
    }
}

@media only screen and (max-width: 350px) {
    .footerLinks, .footer {
        top: 4380px;
    }
}

@media only screen and (max-width: 300px) {
    .footerLinks, .footer {
        top: 4320px;
    }
}

