/* COMMON CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    transition: all 0.2s ease;
}

body{
    padding: 0;
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar a{
    color: #112D4E;
    text-decoration: none;
    font-size: 17px;
}

.navbar input:focus{
    outline: none;
}
.navbar{
    padding: 5px 30px 5px 20px;
    width: 100vw;
    height: 65px;
    background-color: #DBE2EF;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color: #112D4E;
    position: absolute;
    z-index: 2;
}

#navToggler{
    display: none;
}

.logo{
    display: flex;
    flex-flow: row wrap;
}

.companyName{
    margin-top: 15px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.companyLogo{
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

#searchBarInp{
    height: 40px;
    width: 400px;
    border-radius: 15px 0 0 15px;
    border: 0;
    padding: 20px;
    font-size: 17px;
}

.searchIcon{
    text-align: center;
    border-radius: 0 15px 15px 0;
    background-color: #fff;
    height: 40px;
    width: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.searchBar{
    display: flex;
    flex-flow: row wrap;
}

.searchBar2{
    display: none;
    flex-flow: row wrap;
    height: 70px;
    width: 100vw;
    background-color: #DBE2EF;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.searchBar2 #searchBarInp{
    height: 40px;
    width: 350px;
}

.searchBar2 .searchIcon{
    height: 40px;
    width: 50px;
}

.menuBtn, .cartBtn{
    border: 0;
    cursor: pointer;
    background-color: #DBE2EF;
}

.menuToggled{
    margin: 0 0 20px auto;
    background-color: #DBE2EF;
    position: absolute;
    right:  0;
    top: 65px;
    opacity: 0;
    height: 240px;
    width: 400px;
    display: flex;
    z-index: -1;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    border-radius: 0 0 0 10px;
    box-shadow: 0 10px 10px -10px #112D4E, inset 5px 0 10px -10px #112D4E;
}

.menuToggled a, .topicsBar a{
    text-decoration: none;
    font-size: 15px;
    color: #112D4E;
}

.menuToggled a, .navbar a, .cartBtn, .topicsBar a {
    padding: 10px;
}

.menuToggled a:hover, .navbar a:hover, .cartBtn:hover, .topicsBar a:hover{
    color: #3F72AF;
    padding: 20px;
}

.menuDivider{
    width: 300px;
    border-top: 1px solid #112D4E;
    border-radius: 10px;
}

@media only screen and (max-width: 1050px){
    .navbar a{
        font-size: 14px;
    }

    #searchBarInp{
        width: 280px;
    }

    .searchIcon{
        height: 40px;
    }

    .companyName {
        font-size: 16px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar{
        box-shadow: 0 10px 10px -10px #112D4E;
    }
}

@media only screen and (max-width: 700px) {
    #searchBarInp {
        height: 24px;
        width: 180px;
    }
    .navbar {
        box-shadow: 0 10px 10px -10px #112D4E;
    }
}

@media only screen and (max-width: 600px) {
    .searchBar2{
        padding: 0 15px 15px;
        top: 65px;
    }

    .companyName {
        font-size: 18px;
    }

    .searchBar2 {
        box-shadow: 0 10px 10px -10px #112D4E;
    }

    .menuToggled{
        top:  135px;
    }
}

@media only screen and (max-width: 450px) {
    .searchBar2 #searchBarInp {
        width: 260px;
    }

    .companyName {
        font-size: 16px;
    }

    .menuToggled{
        width: 100vw;
    }

    .searchBar2 {
        box-shadow: 0 10px 10px -10px #112D4E;
    }
}

@media only screen and (max-width: 400px) {
    .searchBar2 #searchBarInp {
        width: 200px;
    }

    .companyName {
        font-size: 14px;
    }
}

/* Topics Bar */
.topicsBar{
    width: 100vw;
    padding: 0 20px;
    height: 50px;
    background-color: #DBE2EF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px -10px #112D4E;
    position: absolute;
    z-index: 2;
    top: 65px;
}

@media only screen and (max-width: 1300px) {
    .topicsBar a{
        font-size: 13px;
    }
}


/* Offer Carousel */
.offersCarousel{
    height: 600px;
    width: 100vw;
    position: absolute;
    top: 115px;
    z-index: 1;
    background-image: url("ama1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftArrow{
    margin-left: 30px;
    padding: 100px 20px;
    cursor: pointer;
}

.rightArrow{
    margin-right: 40px;
    padding: 100px 20px;
    cursor: pointer;
}

.rightArrow:hover, .leftArrow:hover{
    border: 2px solid #000;
}

@media only screen and (max-width: 1000px) {
    .leftArrow{
        margin-left: 15px;
    }

    .rightArrow{
        margin-right: 20px;
    }

    .offersCarousel{
        top: 60px;
        height: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .leftArrow {
        margin-left: 10px;
    }

    .rightArrow {
        margin-right: 15px;
    }

    .offersCarousel {
        height: 300px;
        top: 135px;
    }
}

@media only screen and (max-width: 500px) {
    .leftArrow {
        margin-left: 7px;
    }

    .rightArrow {
        margin-right: 12px;
    }

    .offersCarousel {
        height: 200px;
    }
}


/* Containers & Items */
.containers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 530px;
    z-index: 1;
    width: 100vw;
    padding: 20px;
}

.container1, .container2, .container3, .container4{   
    display: flex;
    flex-direction: column;
    background-color: #DBE2EF;
    height: 500px;
    width: 390px;
    margin: 0 20px;
}

.cont-heading{
    padding: 15px 20px 0 22px;
}

.cont-link a{
    text-decoration: none;
    font-size: 13px;
    color: #112D4E;
    padding: 0 22px;
}

.container1 .item-image1, .container1 .item-image2,.container1 .item-image3,.container1 .item-image4,
.container3 .item-image1,
.container3 .item-image2,
.container3 .item-image3,
.container3 .item-image4{
    height: 150px;
    width: 150px;
    margin: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.container2 .item-image1{
    height: 395px;
    width: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.container1 .item-image1{
    background-image: url(washingMachine.jpg);    
}

.container1 .item-image2 {
    background-image: url(fans.jpg);
}

.container1 .item-image3 {
    background-image: url(homeSecurity.jpg);
}

.container1 .item-image4 {
    background-image: url(refrigerator.jpg);
}

.container2 .item-image1 {
    background-image: url(discounts.jpg);
}

.container3 .item-image1 {
    background-image: url(fresh.png);
}

.container3 .item-image2 {
    background-image: url(electronics.jpg);
}

.container3 .item-image3 {
    background-image: url(mobile.jpg);
}

.container3 .item-image4 {
    background-image: url(fashion.jpg);
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.item-text{
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
}